## .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
*.vsp
*.vspx
*.sap
*.ncrunchsolution
*.ncrunchproject
*.crlog
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
docs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Publish output
publish/
PublishProfiles/

## ASP.NET
wwwroot/lib/

## Environment / Secrets
appsettings.*.json
!appsettings.Development.json
.env
secrets.json

## Docker
# .dockerignore se commitea — define qué excluir de la imagen

## OS
.DS_Store
Thumbs.db
desktop.ini
